<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link href="/Assests/css/mystyle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/Assests/js/mainjquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/Assests/js/hide&show.js">

    </script>

</head>
<body>
<h1 id="d"> my name is vishal</h1>>
hiuguihgkuhuu
        <h1> Welcome to my first project</h1>
<br/>

<a href="(% url 'firstapp:about'  %)>About</a>

<br/>

<img src="\Assests\images\icons.jpg" alt="picture" id="d1"/>

<br>

<input type="button" value="hide" id="b1">
<input type="button" value="show" id="b2">
<input type="button" value="slideToggle" id="b3">
</body>

</html>