<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/Assests/css/pc.css" rel="stylesheet" type="text/css">
</head>
<body>
<form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% if sucess %}
    <script>
        alert("successfully done")
    </script>
    {% endif %}
<label> userID </label>
<input type="text" name="userid">
<br/>

<label> useName </label>
<input type="text" name="username">
<br/>

<label> userPassword </label>
<input type="text" name="userpassword">
<br/>

<label> userEmail </label>
<input type="text" name="useremail">
<br/>

<label> userImage </label>
<input type="file" name="userimage">
<br/>
<input type="submit" value="submit">
</form>




</body>

</html>